.share {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.7);
}

.share .shareWrapper {
  padding: 10px;
}

.share .shareWrapper .shareTop {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.share .shareWrapper .shareTop img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 15px;
}

.share .shareWrapper .shareTop .shareInput {
  border: none;
}

.share .shareWrapper .shareTop .shareInput:focus {
  outline: none;
}

.share .shareWrapper .shareHr {
  margin: 20px;
}

.share .shareWrapper .shareBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.share .shareWrapper .shareBottom .shareOptions {
  display: flex;
  margin-left: 15px;
}

.share .shareWrapper .shareBottom .shareOptions .shareOption {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}

.share .shareWrapper .shareBottom .shareOptions .shareOption .shareIcon {
  font-size: 18px;
  margin-right: 3px;
}

.share .shareWrapper .shareBottom .shareOptions .shareOption .shareOptionText {
  font-size: 14px;
}

.share .shareWrapper .shareBottom .shareButton {
  border: none;
  justify-self: end;
  padding: 7px;
  margin-right: 20px;
  border-radius: 5px;
  background-color: #1877f2;
  font-weight: 500;
  color: #fff;
}

.shareImgContainer {
  padding: 0 20px 10px 20px;
  position: relative;
}

.shareImgContainer .shareImg {
  width: 30%;
  object-fit: cover;
}

.shareImgContainer .shareCancelImg {
  position: absolute;
  top: 0;
  right: 20;
  cursor: pointer;
  opacity: 0.7;
}
