.profile {
  display: flex;
}

.profile .profileRight {
  flex: 9;
}

.profile .profileRight .profileRightTop .profileCover {
  height: 320px;
  position: relative;
}

.profile .profileRight .profileRightTop .profileCover .profileCoverImg {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.profile .profileRight .profileRightTop .profileCover .profileUserImg {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  width: 150px;
  height: 150px;
  margin: auto;
  border: 3px solid #fff;
  border-radius: 50%;
  object-fit: cover;
}

.profile .profileRight .profileRightTop .profileInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile .profileRight .profileRightTop .profileInfo .profileInfoName {
  font-size: 25px;
}

.profile .profileRight .profileRightTop .profileInfo .profileInfoDesc {
  font-weight: 300;
}

.profile .profileRightBottom {
  display: flex;
}
